@page "/"
@model Chirp.Razor.Pages.PublicModel
@inject Chirp.Razor.ICheepService CheepService
@{
    ViewData["Title"] = "Not Twitter!";
    Layout = "Shared/_Layout";
}

<div>
    @{ int count = CheepService.GetCheepCount(); }
    <p>Total cheeps: @count</p>
    <h2> Public Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
        
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
